name: "Auto comment on issues on regex match"

on:
  issues:
    types: [opened, edited]

jobs:
    auto-comment:
        runs-on: ubuntu-latest
        steps:
            
            - uses: actions-ecosystem/action-regex-match@v2
              id: regex-match
              with:
                text: ${{ github.event.issue.title }} ${{ github.event.issue.body }}
                regex: '\bcrash\b'
                flags: i

            - uses: actions-ecosystem/action-create-comment@v1
              if: ${{ steps.regex-match.outputs.match != '' }}
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                body: |
                    Hi, @${{ github.actor }}!

                    It seems that your issue contains the word "crash". If you have not already, could you attach a crash dump as a comment?

                    WV2 crash dumps are located in a subfolder of the app's user data folder (UDF): `<UDF>\EBWebView\Crashpad\reports\`. By default, the user data folder is created in the app's folder with a name like `<App Exe Name>.exe.WebView2`. Refer to [Crash Diagnostics](https://github.com/MicrosoftEdge/WebView2Feedback/blob/main/diagnostics/crash.md) for more information
                    
                    Thank you for your cooperation!

